@media only screen and (max-width: 600px) {
    table tr {
      display: grid;
      grid-template-columns:
        minmax(150px, 1fr)
        minmax(150px, 1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  
    table{
      margin:1em auto;
    }
  
    .primary {
      display: none;
    }
  
    .hide {
      display: block;
    }
  
    body{
      background-color: red;
    }
  
  
  
    
  }
  
  